<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/login-app/login-app.html">
<link rel="import" href="../../src/altamov-app/altamov-app.html">

<dom-module id="mov-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
<div class="container">
  <div class="row">
     <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="900px" height="300px" alt="">


</div>
  <div clas="col-md-12">

  <button on-click="cerrar" class="btn btn-info">Cerrar Sesion</button>
  <button on-click ="alta" class="btn btn-info">Alta de movimientos</button>
  <button on-click = "ver" class ="btn btn-info">Ver Movimientos</button>
</div>


        </div>

      </template>



  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovApp extends Polymer.Element {
      static get is() { return 'mov-app'; }
      static get properties() {
        return {
          listado: {
            type: Array,
            notify: true

            }
          };

      }


alta()
{
  window.location="altamov.html"
}

cerrar()
{
  localStorage.clear();

  window.location = "index.html"
}
ver()
{

  var id = localStorage.getItem("email");
  console.log("id: " +id);
  let request = new XMLHttpRequest();
  request.open("POST","http://localhost:3000/mov", false);
  request.setRequestHeader("Accept","application/json");
  request.setRequestHeader("Content-Type","application/json");
  request.setRequestHeader("idcliente",id);
  request.send();


  console.log(request.status);

  if (request.status == 200)
  {
  var post = JSON.parse(request.responseText);
console.log(post[0]);
console.log(post[0].listado);
    if(post[0].listado == undefined)
    {
      alert("No tienes Movimientos")

    }  else {
     //this.respuesta = JSON.parse(request.responseText);
     //console.log(post.listado);
    // this.listado =   this.respuesta[0].listado;

    this.listado = post[0].listado;
     console.table(post[0].listado);
     localStorage.setItem("listado",JSON.stringify(post[0].listado));
     window.location = "table.html"

  }

}
}
}




    window.customElements.define(MovApp.is,MovApp);
  </script>
</dom-module>
