<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../src/alta-app/alta-app.html">


<dom-module id="login-app">

  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>



    <div class="container">

      <div class="row">
         <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="900px" height="300px" alt="">
        <div clas="col-md-12">


        Email: <input type="email"  value="{{email::input}}" required>
        <br/>
        Paasword:<input type="password"  value="{{paasword::input}}" required>
        <br/>
        <button on-click="logar" class="btn btn-success">Login</button>
        <button on-click ="alta" class="btn btn-info">Alta de usuarios</a>
</div>
      </div>
      <div class="row">
        <span hidden$="{{!logeado}}">Bienvenido a la aplicacion</span>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
            //value: 'demopolymer-app'
          },
          paasword:{
            type: String

          },
          logeado:{
            type: Boolean,
          value: false          }
        };
      }



          logar()
          {

            var request = new XMLHttpRequest();

            request.open("POST","http://localhost:3000/login", false);
            request.setRequestHeader("Accept","application/json");
            request.setRequestHeader("Content-Type","application/json");
            request.setRequestHeader("email",this.email);
            request.setRequestHeader("paasword",this.paasword);
            /*var nuevoCliente = {"CustomerId":"12345", "ContactName":"Pepe","CompanyName":"BBVA" };
            var body = JSON.stringify(nuevoCliente);*/
            request.send();
            this.respuesta = request.responseText;
            console.log(this.respuesta);
            console.log(request.status);
                  
            if(request.status == 200)
            {
              this.logeado=true;
              localStorage.clear();
              localStorage.setItem("email",this.email);

              window.location = "mov.html";

            }
            else {
              {
                this.logeado=false;
                 alert("Usuario no registrado favor de darse de alta ");
              }
            }

          }
alta()
{
  window.location ="alta.html";
}

    }

    window.customElements.define(LoginApp.is,LoginApp);
  </script>
</dom-module>
