<link rel="import" href="../../bower_components/polymer/polymer-element.html"
    <link rel="import" href="../../src/mov-app/mov-app.html">


<dom-module id="altamov-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>



    <div class="container">

      <div class="row">
         <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="900px" height="200px" alt="">
        <div clas="col-md-12">
        Fecha del movimiento: <input type="fecha"  value="{{fecha::input}}" required>
        <br/>
        Importe:<input type="importe"  value="{{importe::input}}" required>
        <br/>
        categoria: <input type="categoria" value ="{{categoria::input}}">
        <br/>

        <button on-click="volver" class="btn btn-info">Cerrar Sesion</button></button>
        <!--  <button on-click="principal" class="btn btn-info">Menu Principal</button></button> -->
          <button on-click ="insertar" class="btn btn-info">Alta del movimiento</button>
</div>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovApp extends Polymer.Element {
      static get is() { return 'altamov-app'; }
      static get properties() {
        return {
          fecha: {
            type: Date
            //value: 'demopolymer-app'
          },
          importe:{
            type: Number
          },
          categoria:{
            type: String
          }
        };
      }

      insertar()
      {
        var id = localStorage.getItem("email");
        console.log(id);
        var request = new XMLHttpRequest();
        var query =  'q={"idcliente":"'+id+'"}'
        request.open("GET","https://api.mlab.com/api/1/databases/fvargas/collections/Movimientos%20?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&"+query, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        console.log(request);
        request.send();

        var x =JSON.parse(request.response);

        console.log(x);



        var nuevoMovimiento = {"fecha":this.fecha,"importe":this.importe,"categoria":this.categoria};


      x[0].listado.push(nuevoMovimiento);
    var que = {$set : {listado:x[0].listado}}
          console.log(nuevoMovimiento);

        var request1 = new XMLHttpRequest();
        request1.open("PUT","https://api.mlab.com/api/1/databases/fvargas/collections/Movimientos%20?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&"+query, false);
        request1.setRequestHeader("Accept","application/json");
        request1.setRequestHeader("Content-Type","application/json");
        request1.setRequestHeader("idcliente",id);
        console.log(x);
        request1.send(JSON.stringify(que));
        console.log(request1);


        if(request.status == 200)
        {

           alert("Movimiento dado de alta");

           window.location = "mov.html"

       }
    else
       {
         alert("Ocurrio un error 404");
       }
      }


    volver()
    {
      window.location = "index.html"
    }


}
    window.customElements.define(AltaMovApp.is,AltaMovApp);
  </script>
</dom-module>
Hola
