<link rel="import" href="../../bower_components/polymer/polymer-element.html"
    <link rel="import" href="/src/login-app/login-app.html">

<dom-module id="alta-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>



    <div class="container">

      <div class="row">
         <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="900px" height="200px" alt="">
        <div clas="col-md-12">
          Email: <input type="email"  value="{{email::input}}" required>
        <br/>
        Paasword:<input type="password"  value="{{password::input}}" required>
        <br/>
        Empresa: <input type="company" value ="{{company::input}}">
        <br/>
        Nombre: <input type="name"    value ="{{name::input}}">
        <br/>
        Apellido : <input type="lastname"    value ="{{lastname::input}}">
        <br/>
        Domicilio: <input type = "adress" value="{{adress::input}}">
        <br/>
        Ciudad: <input type = "city" value="{{city::input}}">
        <br/>
        Codigo Postal: <input type = "postalcode" value="{{postalcode::input}}">
        <br/>
        Pais: <input type="country" value ="{{country::input}}">
        <br/>
        Telefono <input type="phone" value="{{phone::input}}">
        <br/>

        <button on-click="insertar" class="btn btn-info">Alta </button></button>
        <!--  <button on-click="volver" class="btn btn-info">Volver a login </button></button>-->
</div>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaApp extends Polymer.Element {
      static get is() { return 'alta-app'; }
      static get properties() {
        return {
          email: {
            type: String
            //value: 'demopolymer-app'
          },
          password:{
            type: String
          },
          company:{
            type: String
          },
          name: {
            type: String
          },
          lastname: {
            type: String
          },
          adress: {
            type: String
          },
          city:{
            type:String
          },
          postalcode:{
            type: Number
          },
          country:{
            type: String
          },
          phone:{
            type: Number
          }

              };
      }

      insertar()
      {

        var id = localStorage.getItem("email");
        console.log(id);
        var request = new XMLHttpRequest();
        var requestB = new XMLHttpRequest();
        request.open("POST","https://api.mlab.com/api/1/databases/fvargas/collections/Usuarios?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        requestB.open("POST", "https://api.mlab.com/api/1/databases/fvargas/collections/Movimientos%20?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        requestB.setRequestHeader("Accept","application/json");
        requestB.setRequestHeader("Content-Type","application/json");
        
        var nuevoCliente = {"email":this.email, "paasword":this.password};
        var altaMovimiento = {"idcliente":this.email, "nombre":this.name, "apellido":this.lastname, "listado": []}
        console.log(this.email+ "/"+this.password);
        console.log(this.name+  "/"+this.lastname);
        var body = JSON.stringify(nuevoCliente);
        var mov = JSON.stringify(altaMovimiento);
        console.log(body);
        console.log(mov);
        request.send(body);
        requestB.send(mov);
        this.respuesta = request.responseText;
        this.respuestar = requestB.responseText;
        console.log(this.respuesta);
        console.log(this.respuestar);
        if(request.status == 200)
        {
         alert("Cliente dado de alta");

       }
    else
       {
         alert("Formulario mal contestado");
       }
       if(requestB.status == 200)
       {
           localStorage.setItem("email",this.email);
        window.location="mov.html"
       }
       else {

          alert ("No se pudo insertar en movimientos");
       }

      }


  /*  volver()
    {
      window.location = "index.html"
    }*/
}
    window.customElements.define(AltaApp.is,AltaApp);
  </script>
</dom-module>
Hola
